---
const { emoji, borderColor } = Astro.props
---

<div class=`callout w-full grid grid-cols-[20%_auto] py-4 px-2 border-[1.5px] border-dashed ${borderColor} items-center`> 
    <span class="emoji text-6xl text-center">
        {emoji}
    </span>  
    <slot />
</div>