---
const { emoji, borderColor } = Astro.props
---

<div class=`callout w-full desktop:grid desktop:grid-cols-[20%_auto] pt-2 desktop:py-4 px-2 border-[1.5px] border-dashed ${borderColor} items-center text-center`> 
    <span class="emoji text-6xl text-center">
        {emoji}
    </span>  
    <slot />
</div>