---
import Callout from "./Callout.astro";
---

<Callout emoji="👋" borderColor="border-yellow-300">
    <p class="text-base font-semibold italic">
        Words of Mik are reminders or thoughts for myself, not others. Your mileage may vary. 
    </p>
</Callout>
