---
import Callout from "./Callout.astro";
---

<Callout emoji="👋" borderColor="border-yellow-300" title="Word of Mik">
    <p class="text-base font-semibold italic pr-2 text-left">
        This article is a Word of Mik. Word of Mik articles are reminders or thoughts for myself, not others. Your mileage may vary. 
    </p>
</Callout>
