---
---
<nav class="flex flex-col md:flex-row gap-4 p-4">
  <a href="/" class="text-lg hover:text-blue-600 transition-colors">Michael Epps</a>
  <a href="/articles" class="text-lg hover:text-blue-600 transition-colors">Articles</a>
</nav>
