---
interface Props {
  href: string;
  isActive: boolean;
}

const { href, isActive } = Astro.props;
---
<a 
  href={href} 
  class={`no-underline text-current hover:text-orange-600 dark:hover:text-orange-400 ${isActive ? 'text-orange-600 dark:text-orange-400' : ''}`}
>
  <slot />
</a>
