---
const { writing } = Astro.props
---

<article class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold hover:text-accent">
        <a href={`/writings/${writing.slug}`} data-astro-prefetch>
            {writing.data.title}
        </a>
    </h2>
    <p class="article-description text-primary text-opacity-60">{writing.data.description}</p>
</article>