---
const dateFormatter = new Intl.DateTimeFormat('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    timeZone: 'America/New_York',
})

const { writing } = Astro.props
---

<a href={`/writings/${writing.slug}`} class="group flex flex-col gap-2">
    <span class="font-title text-2xl font-bold group-hover:text-primary group-hover:text-opacity-85">
        {writing.data.title}
    </span>
    <time class="text-base text-primary text-opacity-30 dark:text-opacity-60" datetime={writing.data.pubDate}>
        {dateFormatter.format(writing.data.pubDate)}
    </time>
</a>
