---
import '@fontsource/source-sans-pro'
import Navigation from '../components/Navigation.astro'
import Callout from '../components/callouts/Callout.astro'
import WordOfMikCallout from '../components/callouts/WordOfMikCallout.astro'

const { title, description } = Astro.props
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" id="favicon" type="image/webp" href="/favicon_light.webp" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="alternate" type="application/rss+xml" title="Michael Epps's Blog" href={`${Astro.site}rss.xml`} />
        <title>{title}</title>
        <meta name="description" content={description} />
        <script
            defer
            src="https://analytics.us.umami.is/script.js"
            data-website-id="f8f25d3a-bc7b-4c7e-8b4a-a9a5a2c164c9"></script>
        <script is:inline>
            function switchFavicon(isDarkMode) {
                const faviconLink = document.getElementById('favicon')
                faviconLink.href = isDarkMode ? '/favicon_dark.webp' : '/favicon_light.webp'
            }

            // Check the user's dark mode preference and switch the favicon accordingly
            const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches
            switchFavicon(prefersDarkMode)

            // Listen for changes in the user's dark mode preference
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (event) => {
                switchFavicon(event.matches)
            })
        </script>
    </head>
    <body
        class="p-4 min-h-full flex flex-col items-center justify-between gap-8 bg-background text-primary"
    >
        <div class="flex w-full flex-col gap-4 desktop:gap-8 desktop:w-desktop desktop:flex-row desktop:pt-24">
            <Navigation class="flex h-fit flex-col gap-2"/>
            <main class="w-full desktop:w-[70%] h-fit">
                <slot />
            </main>
        </div>
        <footer class="w-full h-auto text-sm">
            <p class="text-center text-primary ">Copyright &copy; 2024 Michael Epps</p>
        </footer>
    </body>
</html>

<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base {
        @media (prefers-color-scheme: light) {
            html {
                --color-background: 255 255 255;
                --color-primary: 0 0 0;
                --color-accent: 172 52 52;
            }
        }

        @media (prefers-color-scheme: dark) {
            html {
                --color-background: 25 25 25;
                --color-primary: 255 255 255;
                --color-accent: 255 104 104;
            }
        }
    }

    @layer components {
        .astro-code {
            @apply my-4 rounded-lg p-6;
        }
    }
</style>
