<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <div class="m-4 text-xl">
            <nav class="flex flex-col gap-2">
                <h1 class="float-end flex font-semibold">
                    <a href="/">Michael Epps</a>
                </h1>
                <ul class="flex gap-2 text-slate-700">
                    <li><a href="/">About</a></li>
                    <li><a href="/writings">Writings</a></li>
                </ul>
            </nav>
        </div>
        <footer class="fixed bottom-2 w-full text-sm">
            <p class="text-center text-slate-500">
                Copyright &copy; 2023 Michael Epps
            </p>
        </footer>
    </body>
</html>
